/* Global CSS used within your BEX. This is not preprocessed so this has to be pure CSS. */
.target-some-header-class {
  margin-top: 62px;
}

 /* The snackbar - position it at the bottom and in the middle of the screen */
#handyNotify {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  /* height: 50px; */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 6px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 80vh; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#handyNotify.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  /* -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s; */

  animation: fadeInFromNone 0.5s ease-out;
}


@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 100vh; opacity: 0;}
  to {top: 80vh; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 100vh; opacity: 0;}
  to {top: 80vh; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 80vh; opacity: 1;}
  to {bottom: 100vh; opacity: 0;}
}

@keyframes fadeout {
  from {top: 80vh; opacity: 1;}
  to {bottom: 100vh; opacity: 0;}
}
